@import "styles/variables";

.weatherContainer {
    @include centered();
    width: 100%;
    padding: 10px;
    &__location {
        font-weight: normal;
    }
    &__weather {
        @include centered();
        width: 100%;
        margin-top: 2%;
        flex-direction: row;
        span {
            margin-left: 8%;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}