@import "styles/variables";
@import "styles/breakpoints";

.topContainer {
	@include centered();
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	&__logo, &__weather {
		padding: 15px;
	}
}