@import "styles/variables";
@import "styles/breakpoints";

.topContainer {
	@include centered();
	width: 100%;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	&__logo, &__weather {
		padding: 15px;
	}
}

@media screen and(max-width: 425px) {
	.topContainer {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		&__weather, &__logo {
			width: 50%;
		}
		&__logo {
			order: 0;
		}
		&__weather {
			order: 1;
		}
		&__time  {
			order: 2;
			margin-bottom: 10%;
		}
	}
}