@import "styles/variables";

.mainContainer {
	@include centered();
	width: 100%;
	background: linear-gradient(90deg, $homeBg-lighter 0%, $homeBg-light 100%);

	.mainContent {
		@include centered();
		width: 100%;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		background-image: url("../../assets/home/compasslogo-large.png");
		background-repeat: no-repeat;
		background-size: 340px;

		.largeBgContainer {
			@include centered();
			align-items: flex-start;
			justify-content: flex-start;
			width: 40%;
		}

		.textsContainer {
			@include centered();
			margin: 6% 0;
			width: 60%;
			&__textBox {
				@include centered();
				width: 100%;
				margin-right: 25%;
				margin-bottom: 1%;
				text-align: right;
				align-items: flex-end;
			}
			&__engText {
				font-size: 2.4rem;
				font-weight: bold;
				font-family: "Work Sans", serif;
				color: $home-font;
			}
			&__engText--small {
				font-size: 1.3rem;
			}
		}
	}
}

@media screen and(max-width: 1024px) {
	.mainContainer {
		.mainContent {
			.textsContainer {
				&__engText {
					font-size: 2rem;
				}
				&__engText--small {
					font-size: 1.4rem;
				}
			}
		}
	}
}

@media screen and(max-width: 768px) {
	.mainContainer {
		.mainContent {
			background-image: none;
			flex-direction: column;
			.textsContainer {
				width: 100%;
				margin: 10% auto;
				&__textBox {
					margin-bottom: 2%;
					margin-right: 15%;
				}
				&__engText {
					font-size: 2.2rem;
				}
				&__engText--small {
					font-size: 1.4rem;
				}
				&__ptText {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media screen and(max-width: 425px) {
	.mainContainer {
		.mainContent {			
			.textsContainer {
				width: 100%;
				margin-bottom: 15%;
				&__engText {
					font-size: 1.5rem;
				}
				&__engText--small {
					font-size: 1rem;
				}
				&__ptText {
					font-size: 0.8rem;
				}
			}
		}
	}
}

@media screen and(max-width: 375px) {
	.mainContainer {
		.mainContent {
			.textsContainer {
				margin: 15% auto;
				&__textBox {
					margin-right: 10%;
				}
				&__engText {
					font-size: 1.3rem;
				}
				&__engText--small {
					font-size: 1rem;
				}
			}
		}
	}
}

@media screen and(max-width: 320px) {
	.mainContainer {
		.mainContent {
			.textsContainer {
				margin: 20% auto;
				&__engText {
					font-size: 1.2rem;
				}
				&__engText--small {
					font-size: 1rem;
				}
			}
		}
	}
}