@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', serif;
}

#root > main.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}